<div xmlns:th="http://www.thymeleaf.org" class="container m-b-lg" style="background: white; margin-top: 60px;">
	<div class="row">
		<div class="col-lg-12" style="border: 1px solid red;">
			<div class="row m-t">
				<!-- GENERAL -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Profile</div>
						<div class="panel-body">
							<h2 class="m-t-none"
								th:text="${userDetails.firstName} + ' ' + ${userDetails.firstName} + ' - C' + ${userDetails.cref}"></h2>
							<p th:text="'Email: ' + ${userDetails.email}"></p>
							<p th:text="'Date of birth: ' + ${userDetails.dob}"></p>
							<p th:text="'Address: ' + ${userDetails.address}"></p>
							<p th:text="'City: ' + ${userDetails.city}"></p>
							<p th:text="'Country: ' + ${userDetails.country}"></p>
							<p th:text="'Postal code: ' + ${userDetails.postalCode}"></p>
						</div>
					</div>
				</div>
				<!-- GENERAL END -->
				<!-- VERIFICATION -->
				<div class="col-md-6" ng-controller="verificationController as vm">
					<div class="panel panel-default">
						<div class="panel-heading">Verification</div>
						<div class="panel-body">

							<div th:each="verification, itrStat : ${userDetails.verifications}" class="row m-b-sm">
								<div class="col-sm-6">
									<p th:text="${verification.type} + ': ' + ${verification.status}"></p>
									<a th:text="'Files (' + ${verification.files.size()} + ')'" th:attr="ng-click='vm.showFiles' + ${itrStat.index} + ' = !vm.showFiles' + ${itrStat.index}"></a>
								</div>
								<div class="col-sm-6">
									<a th:if="${verification.status == 'NOT_VERIFIED'}" th:href="'/admin/verify/' + ${verification.id}" class="btn btn-success btn-block">Verify</a>
									<a th:if="${verification.status == 'VERIFIED'}" th:href="'/admin/unverify/' + ${verification.id}" class="btn btn-warning btn-block">Remove verification</a>
								</div>
								<div th:attr="ng-show='vm.showFiles' + ${itrStat.index}" class="col-sm-12 ng-cloak">
									<ul>
										<li th:each="file : ${verification.files}">
											<a th:href="'/files/' + ${file.filename}" target="_blank" th:text="${file.filename}"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- VERIFICATION END -->
			</div>
			<div class="row">
				<!-- FINANCIAL / LIABILITIES -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Financial / liabilities</div>
						<div class="panel-body">
							<h2 class="m-t-none"
								th:text="'Net income: ' + ${userDetails.netIncome}"></h2>
							<p th:text="'Other income: ' + ${userDetails.otherIncome}"></p>
							<p th:text="'Home ownership: ' + ${userDetails.homeOwnership}"></p>
							<p th:text="'Will provide documents: ' + ${userDetails.willProvideDocs}"></p>

							<table class="table table-hover" style="word-break: break-all;">
								<thead>
									<tr>
										<th>Type</th>
										<th>Creditor</th>
										<th>Mo payment</th>
										<th>Outstanding</th>
										<th>Secured by</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="liability : ${userDetails.liabilities}">
										<td th:text="${liability.type}"></td>
										<td th:text="${liability.creditor}"></td>
										<td th:text="${liability.moPayment}"></td>
										<td th:text="${liability.outstanding}"></td>
										<td th:text="${liability.securedBy}"></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
				<!-- FINANCIAL / LIABILITIES END -->
				<!-- GRADE -->
				<div class="col-md-6" ng-controller="assignGradeController as vm">
					<div class="panel panel-default">
						<div class="panel-heading">Grade</div>
						<div class="panel-body">

							<div ng-show="vm.grade.assigned">
								<p>Grade: {{vm.grade.grade}}</p>
								<p>APR: {{vm.grade.apr * 100}}%</p>
								<p>Grace period: {{vm.grade.gracePeriodDays}}</p>
							</div>

							<table ng-show="!vm.grade.assigned" class="table table-hover">

								<thead>
								<tr>
									<th>Grade</th>
									<th>APR</th>
									<th>Grace period</th>
									<th>Credit limit</th>
									<th>Assign</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>
										<select ng-model="vm.selectedGrade"
												ng-options="grade as grade.name for grade in vm.grades">
										</select>
									</td>
									<td>
										<select ng-model="vm.selectedGrade.selectedApr"
												ng-options="apr as (apr * 100).toFixed(2) + '%' for apr in vm.selectedGrade.aprs">
										</select>
									</td>
									<td>
										<input ng-model="vm.selectedGrade.gracePeriod" type="text" />
									</td>
									<td>
										<input ng-model="vm.selectedGrade.creditLimit" type="text" />
									</td>
									<td>
										<button ng-disabled="!vm.selectedGrade || !vm.selectedGrade.selectedApr" ng-click="vm.assignGrade(vm.selectedGrade)" class="btn btn-primary">Assign</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- GRAD END -->
			</div>
			<div class="row">
				<!-- CA -->
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">Credit application</div>
						<div class="panel-body">
							<p th:text="'State: ' + ${userDetails.caState}"></p>
						</div>
					</div>
				</div>
				<!-- CA end -->
			</div>
		</div>
	</div>
</div>