<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Bank transactions</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

<div th:replace="admin/fragments/topbar" />

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="admin/fragments/sidebar" />
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div>
				<h1>Unlinked bank transactions</h1>

				<table class="table">
					<thead>
					<tr>
						<th>Id</th>
						<th>Link</th>
						<th>State</th>
						<th>Created</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Bank transaction Id</th>
					</tr>
					</thead>
					<tbody>
						<tr th:each="transaction : ${transactions}">
							<td th:text="${transaction.id}"></td>
							<td>
								<a th:href="${'/admin/banktransaction/' + transaction.id}">Link it</a>
							</td>
							<td th:text="${transaction.state}"></td>
							<td th:text="${transaction.created}"></td>
							<td th:text="${transaction.amount}"></td>
							<td th:text="${transaction.currency}"></td>
							<td th:text="${transaction.bankTransactionId}"></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>

<!-- Scripts -->
<div th:replace="admin/fragments/scripts" />

</body>
</html>