<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Bank transactions</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

<div th:replace="admin/fragments/topbar" />

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="admin/fragments/sidebar" />
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="page-header">
				<h1>
					<span th:text="${transaction.bankName}"></span> transaction: #<span th:text="${transaction.id}"></span>
				</h1>
			</div>
			<div th:if="${message}">
				<div class="alert alert-success" th:text="${message}" role="alert"></div>
			</div>
			<div th:if="${error}">
				<div class="alert alert-warning" th:text="${error}" role="alert"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Amount:</strong>
					<span th:text="${transaction.amount}"></span>
					<span th:text="${transaction.currency}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Linked amount:</strong>
					<span th:text="${linkedAmount}"></span>
					<span th:text="${transaction.currency}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Created:</strong>
					<span th:text="${transaction.created}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Info:</strong>
					<span th:text="${transaction.reference}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Current transaction state:</strong>
					<span th:text="${transaction.state}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Markers:</strong>
					<span>TODO</span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Bank transaction Id:</strong>
					<span th:text="${transaction.bankTransactionId}"></span>
				</div>
			</div>
			<div class="row" style="margin-bottom: 30px;">
				<div class="col-lg-12">
					<strong>All properties:</strong>
					<span>TODO</span>
				</div>
			</div>
			<form action="/admin/linkTransaction" method="POST">
				<input name="transactionId" type="hidden" th:value="${transaction.id}" />
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label>Amount</label>
							<input name="amount" type="number" class="form-control" th:value="${remainingUnlinked}" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<label>User Id</label>
							<input name="userId" type="number" class="form-control" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary btn-block">LINK</button>
					</div>
				</div>
			</form>


		</div>
	</div>
</div>

<!-- Scripts -->
<div th:replace="admin/fragments/scripts" />

</body>
</html>