<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Bank transactions</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

<div th:replace="admin/fragments/topbar" />

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="admin/fragments/sidebar" />
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div>
				<h1>Create bank transaction</h1>
				<div th:if="${message}">
					<div class="alert alert-success" th:text="${message}" role="alert"></div>
				</div>
				<div th:if="${error}">
					<div class="alert alert-warning" th:text="${error}" role="alert"></div>
				</div>
				<form action="/admin/submitTransaction" method="POST">

					<div class="form-group">
						<label>Bank</label>
						<select name="bank" class="form-control">
							<option th:each="bank : ${bankEnums}" th:value="${bank}" th:text="${bank}"></option>
						</select>
					</div>

					<div class="form-group">
						<label>Transaction Id</label>
						<input name="transactionId" type="text" class="form-control" />
					</div>

					<div class="form-group">
						<label>Amount</label>
						<input name="amount" type="number" class="form-control" />
					</div>

					<div class="form-group">
						<label>Currency</label>
						<select name="currency" class="form-control">
							<option th:each="currency : ${currencyEnums}" th:value="${currency}" th:text="${currency}"></option>
						</select>
					</div>

					<div class="form-group">
						<label>Reference:</label>
						<textarea name="reference" class="form-control" rows="5"></textarea>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>

		</div>
	</div>
</div>

<!-- Scripts -->
<div th:replace="admin/fragments/scripts" />

</body>
</html>