<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Dashboard</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

	<div th:replace="admin/fragments/topbar" />

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<div th:replace="admin/fragments/sidebar" />
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div>
					<h1>Users</h1>

					<table class="table table-hover">

						<thead>
							<tr>
								<th>User Id</th>
								<th>CREF</th>
								<th>Email</th>
								<th>Roles</th>
								<th>Customer page</th>
							</tr>
						</thead>
						<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.id}"></td>
							<td th:text="${user.cref}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.roles}"></td>
							<td>
								<a th:href="'/account/' + ${user.id}" class="btn btn-primary btn-block">Open</a>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>

	<!-- Scripts -->
	<div th:replace="admin/fragments/scripts" />

</body>
</html>