<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Payout intrsuctions</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

<div th:replace="admin/fragments/topbar" />

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="admin/fragments/sidebar" />
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div>
				<h1>Pending payout instructions</h1>

				<table class="table">
					<thead>
					<tr>
						<th>Id</th>
						<th>Link</th>
						<th>State</th>
						<th>Created</th>
						<th>Amount</th>
						<th>Currency</th>
						<th>Country</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="instruction : ${instructions}">
						<td th:text="${instruction.id}"></td>
						<td>
							<a th:href="${'/admin/payout/' + instruction.id}">Link</a>
						</td>
						<td th:text="${instruction.payoutState}"></td>
						<td th:text="${instruction.created}"></td>
						<td th:text="${instruction.amount}"></td>
						<td th:text="${instruction.currency}"></td>
						<td th:text="${instruction.country}"></td>
					</tr>
					</tbody>
				</table>

			</div>

		</div>
	</div>
</div>

<!-- Scripts -->
<div th:replace="admin/fragments/scripts" />

</body>
</html>