<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Page title set in pageTitle directive -->
	<title>Admin | Payout instruction</title>

	<!-- Styles -->
	<div th:replace="admin/fragments/styles" />

</head>

<body ng-app="inspinia">

<div th:replace="admin/fragments/topbar" />

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<div th:replace="admin/fragments/sidebar" />
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="page-header">
				<h1>
					Payout instruction ID: <span th:text="${instruction.id}"></span>
				</h1>
			</div>
			<div th:if="${message}">
				<div class="alert alert-success" th:text="${message}" role="alert"></div>
			</div>
			<div th:if="${error}">
				<div class="alert alert-warning" th:text="${error}" role="alert"></div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Amount:</strong>
					<span th:text="${instruction.amount}"></span>
					<span th:text="${instruction.currency}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Country:</strong>
					<span th:text="${instruction.country}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Created:</strong>
					<span th:text="${instruction.created}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Current transaction state:</strong>
					<span th:text="${instruction.payoutState}"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<strong>Bank account type:</strong>
					<span th:text="${instruction.recipient.type}"></span>
				</div>
			</div>
			<div th:if="${instruction.recipient.type == T(com.credifair.web.model.recipient.RecipientType).IBAN}">
				<div class="row">
					<div class="col-lg-12">
						<strong>IBAN:</strong>
						<span th:text="${instruction.recipient.iban}"></span>
					</div>
				</div>
			</div>
			<div th:if="${instruction.recipient.type == T(com.credifair.web.model.recipient.RecipientType).SORT}">
				<div class="row">
					<div class="col-lg-12">
						<strong>UK Sort:</strong>
						<span th:text="${instruction.recipient.sortCode}"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<strong>Account number:</strong>
						<span th:text="${instruction.recipient.accountNumber}"></span>
					</div>
				</div>
			</div>

			<form action="/admin/approvePayoutInstruction" method="POST">
				<input name="instructionId" type="hidden" th:value="${instruction.id}" />

				<div class="row">
					<div class="col-lg-12">
						<button type="submit" class="btn btn-primary btn-block">Approve</button>
					</div>
				</div>
			</form>


		</div>
	</div>
</div>

<!-- Scripts -->
<div th:replace="admin/fragments/scripts" />

</body>
</html>