<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'MY_CARD' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			my card

		</div>
	</div>
</div>