<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'INVESTMENTS' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Your investments</strong></h5>
				</div>
				<div class="ibox-content">

					<table class="table">
						<thead>
						<tr>
							<th></th>
							<th>Investment</th>
							<th>CrediFair rating</th>
							<th>Credit history</th>
							<th>Status</th>
							<th>Date of investment</th>
							<th>APR</th>
							<th>Outstanding principal</th>
							<th>Interest owed</th>
							<th>Repaid principal</th>
							<th>Repaid interest</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat-start="investment in vm.investmentsList">
							<td>
								<a ng-click="investment.showExtra = !investment.showExtra">
									<i class="fa fa-arrow-circle-right"
									   ng-class="{'fa-arrow-circle-down' : investment.showExtra, 'fa-arrow-circle-right' : !investment.showExtra}">
									</i>
								</a>
							</td>
							<td>{{investment.investment}}</td>
							<td>{{investment.cfRating}}</td>
							<td></td>
							<td>{{investment.status}}</td>
							<td>{{investment.dateInvested}}</td>
							<td>{{investment.investorApr * 100}}%</td>
							<td>{{investment.outstandingPrincipal}}</td>
							<td>{{investment.interestOwed}}</td>
							<td>{{investment.totalRepaidPrincipal}}</td>
							<td>{{investment.totalRepaidInterest}}</td>
						</tr>
						<tr ng-show="investment.showExtra" ng-repeat-end="">
							<td colspan="10">
								Can have here table with all the history transactions with dateTimes and amounts, we wanna do that?
							</td>
						</tr>
						</tbody>
					</table>

				</div>
			</div>


		</div>
	</div>
</div>