<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'WELCOME' | translate }} {{vm.info.firstName}}</h2>

		<div ng-if="vm.info.additionalInformationNeededMessage" class="panel panel-warning">
			<div class="panel-heading">
				<i class="fa fa-warning"></i> One more thing in order to start investing
			</div>
			<div class="panel-body">
				<p>
					{{vm.info.additionalInformationNeededMessage}}
					Please click <a ng-click="vm.goToApplicationStep()">here</a> to provide your personal details.
					Luckily it takes just a few minutes.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<dl>
					<dt>Account value</dt>
					<dd>
						<h2 ng-show="vm.info.accountValue">{{vm.info.accountValue}}{{vm.info.currency}}</h2>
					</dd>
				</dl>
			</div>
			<div class="col-md-4">
				<dl>
					<dt>Net profit</dt>
					<dd>
						<h2>{{vm.info.netProfit}}{{vm.info.currency}}</h2>
					</dd>
				</dl>
			</div>
			<div class="col-md-4">
				<dl>
					<dt>Net return</dt>
					<dd>
						<h2 ng-show="vm.info.netReturn">- {{vm.info.currency}}</h2>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-4">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row m-b-sm">
						<div class="col-xs-8">Available funds:</div>
						<div class="col-xs-4 text-right">
							<strong>
								{{vm.info.availableFunds}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xs-8">Pending offers:</div>
						<div ng-show="vm.info.pendingOffers > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.pendingOffers}}{{vm.info.currency}}</div>
							</strong>
					</div>
					<div class="row m-b-sm">
						<div class="col-xs-8">Outstanding principal:</div>
						<div ng-show="vm.info.outstandingPrincipal > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.outstandingPrincipal}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xs-8">Overdue principal:</div>
						<div ng-show="vm.info.overduePrincipal > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.overduePrincipal}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4">

			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row m-b-sm">
						<div class="col-xs-8">Account value:</div>
						<div ng-show="vm.info.accountValue > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.accountValue}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xs-8">Deposits:</div>
						<div ng-show="vm.info.deposits > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.deposits}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xs-8">Withdraws:</div>
						<div ng-show="vm.info.withdraws > 0" class="col-xs-4 text-right">
							<strong>
								{{vm.info.withdraws}}{{vm.info.currency}}
							</strong>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-4">

			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-lg-12 m-t-md m-b-sm">
						<button ui-sref="investor.market" class="btn btn-primary btn-block">Start investing</button>
					</div>
					<div class="col-lg-12 m-b-sm">
						<button ui-sref="index.add_funds" class="btn btn-primary btn-block">Add funds</button>
					</div>
					<div class="col-lg-12 m-b-md">
						<button ui-sref="index.withdraw" class="btn btn-primary btn-block">Wihtdraw funds</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>