<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'WELCOME' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<h3>Signup for an account to get a great deal on your credit card!</h3>
			<p>Out APR's are the best on the market, in fact we can provide an APR of up to 12%!</p>

			<button ng-click="vm.getStarted()" class="btn btn-primary">Get started</button>
		</div>
	</div>
</div>