<!-- Wrapper-->
<div id="wrapper">

	<!-- Navigation -->
	<div ng-include="'/views/borrower/navigation.html'"></div>

	<!-- Page wraper -->
	<!-- ng-class with current state name give you the ability to extended customization your view -->
	<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

		<!-- Page wrapper -->
		<div ng-include="'/views/borrower/topnavbar.html'"></div>

		<!-- Main view  -->
		<div ui-view></div>

		<!-- Footer -->
		<div ng-include="'/views/borrower/footer.html'"></div>

	</div>
	<!-- End page wrapper-->

	<!-- Right Sidebar -->
	<div ng-include="'/views/borrower/right_sidebar.html'"></div>

</div>
<!-- End wrapper-->