<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Font awesome -->
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />

<!-- Main Inspinia CSS files -->
<link href="/css/animate.css" rel="stylesheet" />
<link id="loadBefore" href="/css/style.css" rel="stylesheet" />