<!--
* INSPINIA - Responsive Admin Theme
* Version 2.5
*
-->

<!DOCTYPE html>
<html ng-app="inspinia"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Page title set in pageTitle directive -->
    <title page-title=""></title>

    <!-- Styles -->
    <div th:replace="borrower/fragments/styles" />

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="mainController as main" class="{{$state.current.data.specialClass}} boxed-layout" landing-scrollspy="" id="page-top">

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <div th:replace="admin/fragments/topbar" />
        <div th:replace="admin/adminPanel" />
    </div>

    <!-- Main view  -->
    <div ui-view=""></div>

    <script th:inline="javascript">
        /*<![CDATA[*/

        var _config = [[${config}]];

        /*]]>*/
    </script>

    <!-- Scripts -->
    <div th:replace="borrower/fragments/scripts" />
    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        <!-- Scripts -->
        <script src="/js/admin/adminRestClient.js"></script>
        <script src="/js/admin/panel/assignGradeController.js"></script>
        <script src="/js/admin/panel/verificationController.js"></script>
    </div>

</body>
</html>