<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'ADD_FUNDS' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<h3>Add funds</h3>

			<p>Please transfer money to this account:</p>

			<p>IBAN: EE234234451151</p>

			<div class="input-group" style="border: 1px solid red;">
				<label>ADMIN: Payoff stuff</label>
				<input ng-model="vm.amountPayoff" type="number" class="form-control" placeholder="Amount...">
				<span class="input-group-btn">
					<button ng-click="vm.payOff()" class="btn btn-default" class="btn btn-primary">Payoff</button>
				</span>
			</div><!-- /input-group -->

		</div>
	</div>
</div>