<html>


<body ng-app="app" ng-controller="OauthController as vm">

<h1>Oauth test client page</h1>

<h2>1. Get client token</h2>
<div>
	<span>Client token: {{vm.clientToken}}</span>
</div>
<div>
	<button ng-click="vm.getClientToken()">Get client token</button>
</div>

<h2>2. Register user</h2>
<div>
	<label>Username:</label>
	<input ng-model="vm.newUser.email" type="text" />
</div>
<div>
	<label>Password:</label>
	<input ng-model="vm.newUser.password" type="text" />
</div>
<div>
	<label>Country</label>
	<input disabled="disabled" ng-model="vm.newUser.country" />
</div>
<div>
	<button ng-click="vm.registerUser()">Register</button>
</div>

<h2>3. Get access token</h2>
<div>
	<span>Access token: {{vm.accessToken}}</span>
</div>
<div>
	<button ng-click="vm.getAccessToken()">Get access token</button>
</div>

<h3>4. Fire requests</h3>
<div>
	<span>Response: {{vm.response}}</span>
</div>
<div>
	<button ng-click="vm.fireRequest()">Fire!</button>
</div>


</body>

<script src="/js/vendor/angular/angular.min.js"></script>
<script src="/js/oauth.js"></script>


</html>