<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'WELCOME' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

				<h2>APR: {{vm.info.apr * 100}}%</h2>
				<h2>Grace period: {{vm.info.gracePeriod}} days</h2>
				<h2>Credit limit: {{vm.info.creditLimit}} {{vm.info.currency}}</h2>
				<h2>Loan balance: {{vm.info.loanBalance}}</h2>
				<h2>Balance: {{vm.info.balance}}</h2>
				<button ng-click="vm.calculateInterest()" class="btn btn-primary">Calculate interest</button>
				<hr>
				<h3>Request Money</h3>
				<div class="input-group m-b-md">
					<input ng-model="vm.requestAmount" type="text" class="form-control" placeholder="Amount">
						<span class="input-group-btn">
							<button ng-click="vm.requestLoan()" class="btn btn-primary" type="button">Request</button>
						</span>
				</div><!-- /input-group -->
			</div>
		</div>
	</div>
</div>