<div class="ibox float-e-margins">
	<div class="ibox-title">
		<h5>All transactions</strong></h5>

		<!--<div ibox-tools></div>-->
	</div>
	<div class="ibox-content">
		<table class="table table-striped table-bordered table-hover dataTables-example">
			<thead>
			<tr>
				<th>DateTime</th>
				<th>Amount</th>
				<th>Currency</th>
				<th>End balance</th>
				<th>Type</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="transaction in vm.transactions">
				<td>{{ transaction.dateTime }}</td>
				<td>{{ transaction.amount }}</td>
				<td>{{ transaction.currency }}</td>
				<td>{{ transaction.endBalance }}</td>
				<td>{{ transaction.type }}</td>
			</tr>
			</tbody>
		</table>

	</div>
</div>