<div class="row border-bottom white-bg dashboard-header">
	<div class="col-sm-12">
		<h2>{{ 'MARKET' | translate }}</h2>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Applications waiting for investors</strong></h5>
				</div>
				<div class="ibox-content">

					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>CrediFair rating</th>
								<th>Interest</th>
								<th>Expected return</th>
								<th>Credit limit</th>
								<th>Funded</th>
								<th>You funded</th>
								<th>Offer amount</th>
								<th>Invest</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat-start="application in vm.applicationList">
								<td>
									<a ng-click="application.showExtra = !application.showExtra">
										<i class="fa fa-arrow-circle-right"
										   ng-class="{'fa-arrow-circle-down' : application.showExtra, 'fa-arrow-circle-right' : !application.showExtra}">
										</i>
									</a>
								</td>
								<td>{{application.id}}</td>
								<td>{{application.credifairRating}}</td>
								<td>{{application.interest * 100}}%</td>
								<td>{{application.expectedReturn * 100}}%</td>
								<td>{{application.creditLimit}}</td>
								<td>{{application.funded}} ({{application.percentageFunded}}%)
									<div class="progress progress-mini">
										<div style="width:{{application.percentageFunded}}%;" class="progress-bar"></div>
									</div>
								</td>
								<td>{{application.userInvested}}</td>
								<td>
									<div class="input-group">
										<input ng-model="application.fund" type="number" min="0" class="form-control" placeholder="Fund">
									</div>
								</td>
								<td>
									<button ng-click="vm.invest(application)" class="btn btn-primary">{{'INVEST' | translate}}</button>
								</td>
							</tr>
							<tr ng-show="application.showExtra" ng-repeat-end="">
								<td colspan="10">
									<div class="row" style="word-wrap: break-word;">
										<div class="col-lg-12">
											<uib-accordion close-others="true">
												<uib-accordion-group is-open="borrower.open">
													<uib-accordion-heading>
														<h3 class="m-b-none">
															Borrower
															<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': borrower.open, 'glyphicon-chevron-up': !borrower.open}"></i>
														</h3>
													</uib-accordion-heading>

													<div class="row">
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-6">
																	CrediFair grade:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.grade }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	Age (years):
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.age }}</strong>
																</div>
																</div>
															<div class="row">
																<div class="col-md-6">
																	Location:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.city }}, {{ application.borrowerOverview.country }}</strong>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-6">
																	Job title:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.jobTitle }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	Work industry:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.workIndustry }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	Current employment time:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.currentEmploymentTime }}</strong>
																</div>
																</div>
															<div class="row">
																<div class="col-md-6">
																	Total employment time:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.totalEmploymentTime }}</strong>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-6">
																	Education:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.education }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	Marital status:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.maritalStatus }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-6">
																	Home ownership:
																</div>
																<div class="col-md-6">
																	<strong>{{ application.borrowerOverview.homeOwnership }}</strong>
																</div>
															</div>
														</div>
													</div>

												</uib-accordion-group>
												<uib-accordion-group is-open="borrower_history.open">
													<uib-accordion-heading>
														<h3 class="m-b-none">
															Borrower history
															<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': borrower_history.open, 'glyphicon-chevron-up': !borrower_history.open}"></i>
														</h3>
													</uib-accordion-heading>


													<div class="row">
														<div class="col-md-6">
															<div class="row">
																<div class="col-md-8">
																	Overdue:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.history.overdue }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Repaid principal:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.history.repaidPrincipal }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Paid interest:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.history.paidInterest }}</strong>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="row">
																<div class="col-md-8">
																	Amount borrowed:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.history.amountBorrowed }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Repaiments total:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.history.repaimentsTotal }}</strong>
																</div>
															</div>

														</div>
													</div>

												</uib-accordion-group>
												<uib-accordion-group is-open="income_expenses.open">
													<uib-accordion-heading>
														<h3 class="m-b-none">
															Income and expenses
															<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': income_expenses.open, 'glyphicon-chevron-up': !income_expenses.open}"></i>
														</h3>
													</uib-accordion-heading>

													<div class="row">
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-8">
																	Net salary:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.netIncome }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Other income:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.otherIncome }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Monthly net income:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.monthlyNetIncome }}</strong>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-8">
																	Liabilities without mortgage:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.loanLiabilitiesWithoutMortgage }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Mortgage:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.mortgage }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Living expenses:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.livingExpenses }}</strong>
																</div>
															</div>
															<!--<div class="row">-->
																<!--<div class="col-md-8">-->
																	<!--New card maximum monthly payment:-->
																<!--</div>-->
																<!--<div class="col-md-4">-->
																	<!--<strong>{{ application.incomeExpensesOverview.newCardMaximumMonthlyPayment }}</strong>-->
																<!--</div>-->
															<!--</div>-->
															<!--<div class="row">-->
																<!--<div class="col-md-8">-->
																	<!--Other liabilities:-->
																<!--</div>-->
																<!--<div class="col-md-4">-->
																	<!--<strong>{{ application.incomeExpensesOverview.otherLiabilities }}</strong>-->
																<!--</div>-->
															<!--</div>-->
															<div class="row">
																<div class="col-md-8">
																	Data verified:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.dataVerified }}</strong>
																</div>
															</div>
														</div>
														<div class="col-md-4">
															<div class="row">
																<div class="col-md-8">
																	Discretionary income:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.discretionaryIncome }}</strong>
																</div>
															</div>
															<div class="row">
																<div class="col-md-8">
																	Debt to income ratio:
																</div>
																<div class="col-md-4">
																	<strong>{{ application.incomeExpensesOverview.debtToIncomeRatio }}</strong>
																</div>
															</div>
														</div>
													</div>
													<div class="row m-t-md">
														<div class="col-lg-12">
															<div class="panel panel-default">
															<div class="panel-heading">Liabilities</div>
															<div class="panel-body">

																<table class="table">
															<thead>
															<tr>
																<th>Type of liability</th>
																<th>Creditor</th>
																<th>Mo. payment</th>
																<th>Outstanding</th>
																<th>Secured by</th>
															</tr>
															</thead>
															<tbody>
															<tr ng-repeat="liability in application.incomeExpensesOverview.liabilities">
																<td>
																	{{ liability.type }}
																</td>
																<td>
																	{{ liability.creditor }}
																</td>
																<td>
																	{{ liability.moPayment }}
																</td>
																<td>
																	{{ liability.outstanding }}
																</td>
																<td>
																	{{ liability.security }}
																</td>
															</tr>
															</tbody>
														</table>
															</div>
														</div>
														</div>
													</div>

												</uib-accordion-group>
												<uib-accordion-group is-open="payment_problems.open">
													<uib-accordion-heading>
														<h3 class="m-b-none">
															Registered payment problems
															<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': payment_problems.open, 'glyphicon-chevron-up': !payment_problems.open}"></i>
														</h3>
													</uib-accordion-heading>

													<div class="alert alert-info" role="alert">
														<i class="fa fa-info-circle"></i> This borrower has not had any registered payment problems
													</div>

												</uib-accordion-group>
											</uib-accordion>

										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>
	</div>
</div>