<!-- jQuery and Bootstrap -->
<script src="/js/vendor/jquery/jquery-2.1.1.min.js"></script>
<script src="/js/vendor/plugins/jquery-ui/jquery-ui.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="/js/vendor/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="/js/vendor/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="/js/vendor/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/vendor/inspinia.js"></script>

<!-- Main Angular scripts-->
<script src="/js/vendor/angular/angular.min.js"></script>
<script src="/js/vendor/angular/angular-sanitize.js"></script>
<script src="/js/vendor/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="/js/vendor/angular-translate/angular-translate.min.js"></script>
<script src="/js/vendor/ui-router/angular-ui-router.min.js"></script>
<script src="/js/vendor/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="/js/vendor/plugins/angular-idle/angular-idle.js"></script>
<script src="/js/vendor/plugins/moment/moment.min.js"></script>

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>-->

<!-- Anglar App Script -->
<script src="/js/app.js"></script>
<script src="/js/borrower/config.js"></script>
<script src="/js/translations.js"></script>

<script src="/js/borrower/mainController.js"></script>

<script src="/js/borrower/transactions/transactionsTable/transactionsTableDirective.js"></script>
<script src="/js/borrower/transactions/transactionsTable/transactionsTableController.js"></script>

<script src="/js/modules/minimalizaNavbar/minimalizaNavbarDirective.js"></script>
<script src="/js/modules/ibox/iboxToolsDirective.js"></script>
<script src="/js/modules/dropZone/dropZoneDirective.js"></script>
<script src="/js/borrower/dashboard/application/dynamicFieldDirective.js"></script>

<script src="/js/borrower/dashboard/application/formController.js"></script>
<script src="/js/investor/dashboard/application/investorFormController.js"></script>
<script src="/js/borrower/dashboard/dashboardController.js"></script>
<script src="/js/borrower/getstarted/getStartedController.js"></script>
<script src="/js/investor/investments/investmentsController.js"></script>


<script src="/js/account/addfunds/addFundsController.js"></script>
<script src="/js/account/dashboard/accountDashboardController.js"></script>

<script src="/js/modules/tools/restClient.js"></script>
<script src="/js/modules/tools/stepMapper.js"></script>
<script src="/js/modules/tools/TemplateResolver.js"></script>
<script src="/js/investor/market/marketController.js"></script>
<script src="/js/investor/dashboard/investorDashboardController.js"></script>
<!--<script src="/js/modules/sideNavigation/sideNavigation.js"></script>-->
<script src="/js/translateController.js"></script>