<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content wizard">
					<h2>
						Proof of address documents
					</h2>

					<div class="row">
						<div class="col-md-7">

							<div class="wizard">
								<div class="content">


									<form action="#" class="dropzone" dropzone="" id="dropzone">
										<div class="dz-message m-t-lg m-b-lg">
											<h1>Drop files here.</h1>
											<span>(Drop all document here needed for the verification. Or you can click to select the files.)</span>
										</div>
									</form>

								</div>
								<a ng-click="vm.continue()" class="btn btn-primary">Continue</a>
							</div>

						</div>
						<div class="col-md-5">

							<h3>We accept the following documents:</h3>
							<p>
								Please upload a photo or scan of your utility bill or any other recently received document, which reflects your full name, your address and the day of issuance. The uploaded document must meet the following criteria:
							</p>

							<p>
								- issued no longer than 3 months ago;
							</p>

							<p>
								- the document is readable and no information is covered up;
							</p>

							<p>
								- the address on the document is the same as the country you indicated as your residence if you applied for a loan;
							</p>

							<p>
								- the document is uploaded  as BMP, PDF, GIF, JPEG, JPG, PNG, ODT, TIFF, DDOC, DOC or DOCX.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
