<fieldset>
	<h2>Specify your recipient bank account</h2>

	<div class="row">
		<div class="col-lg-12 m-b-lg">

			<div class="tabs-container">

				<uib-tabset>
					<uib-tab heading="IBAN">
						<div class="panel-body">

							<div class="form-group" ng-class="{'has-error' : signupForm.iban.$invalid && signupForm.iban.$dirty}">
								<label>{{'IBAN' | translate}}</label>
								<input ng-model="vm.data.iban" name="iban" type="text" class="form-control" placeholder="eg. EE38 2200 2210 2014 5685">
								<p ng-show="signupForm.iban.$error.required && signupForm.iban.$dirty" class="help-block">Can't be empty</p>
							</div>

						</div>
					</uib-tab>
					<uib-tab heading="SOFORT">
						<div class="panel-body">

							<label>{{'UK_SORT_CODE' | translate}}</label>
							<div class="row">
								<div class="col-sm-4">
									<input ng-model="vm.data.sort1" name="sort1" type="text" class="form-control" placeholder="eg. 40">
								</div>
								<div class="col-sm-4">
									<input ng-model="vm.data.sort2" name="sort2" type="text" class="form-control" placeholder="eg. 30">
								</div>
								<div class="col-sm-4">
									<input ng-model="vm.data.sort3" name="sort3" type="text" class="form-control" placeholder="eg. 20">
								</div>
							</div>

							<div class="form-group">
								<label>{{'ACCOUNT_NUMBER' | translate}}</label>
								<input ng-model="vm.data.accountNumber" placeholder="eg. 12345678" name="accountNumber" type="text" class="form-control">
							</div>

						</div>
					</uib-tab>
				</uib-tabset>

			</div>


		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button type="submit" ng-click="vm.continue()"
					ng-disabled="!vm.data" class="btn btn-primary">{{'DONE' | translate}}</button>
		</div>
	</div>
</fieldset>
