<div>
	<div ng-if="vm.field.type === 'TEXT'">

		<div class="form-group" ng-class="{'has-error' : vm.form.{{vm.field.fieldName}}.$invalid && vm.form.{{vm.field.fieldName}}.$dirty}">
			<label>{{vm.field.fieldName | translate}}</label>
			<input ng-model="vm.data[vm.field.fieldName]" name="{{vm.field.fieldName}}" type="text" class="form-control" required>
			<p ng-show="vm.form.{{vm.field.fieldName}}.$error.required && vm.form.{{vm.field.fieldName}}.$dirty" class="help-block">Can't be empty</p>
		</div>

	</div>

	<div ng-if="vm.field.type === 'NUMBER'">

		<div class="form-group" ng-class="{'has-error' : vm.form.{{vm.field.fieldName}}.$invalid && vm.form.{{vm.field.fieldName}}.$dirty}">
			<label>{{vm.field.fieldName | translate}}</label>
			<input ng-model="vm.data[vm.field.fieldName]" name="{{vm.field.fieldName}}" type="number" class="form-control" required>
			<p ng-show="vm.form.{{vm.field.fieldName}}.$error.required && vm.form.{{vm.field.fieldName}}.$dirty" class="help-block">Can't be empty</p>
		</div>

	</div>

	<div ng-if="vm.field.type === 'DATE'">

		<div class="form-group">
			<label class="font-noraml">{{vm.field.fieldName | translate}}</label>
			<div class="input-group date">
				<input type="datetime" class="form-control" date-time ng-model="vm.data[vm.field.fieldName]" view="date" auto-close="true" min-view="date" format="DD.MM.YYYY">
				<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>

	</div>

	<div ng-if="vm.field.type === 'SELECT'">

		<div class="form-group">
			<label>{{vm.field.fieldName | translate}}</label>
			<ui-select ng-model="vm.data[vm.field.fieldName]" theme="bootstrap">
				<ui-select-match>{{$select.selected | translate}}</ui-select-match>
				<ui-select-choices repeat="option in vm.field.options | filter: $select.search">
					<div ng-bind-html="option | translate | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>

	</div>

	<div ng-if="vm.field.type === 'LIABILITIES'">
		<div class="m-b-lg">
			<table class="table">
				<thead>
				<tr>
					<th>Type of liability</th>
					<th>Creditor</th>
					<th>Mo. payment</th>
					<th>Outstanding</th>
					<th>Secured by</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="liability in vm.formController.data.LIABILITIES">
					<td>
						<select ng-model="liability.type" class="form-control">
							<option ng-repeat="type in vm.field.options.types">{{type | translate}}</option>
						</select>
					</td>
					<td>
						<input ng-model="liability.creditor" type="text" class="form-control">
					</td>
					<td>
						<input ng-model="liability.mo_payment" type="number" class="form-control">
					</td>
					<td>
						<input ng-model="liability.outstanding" type="number" class="form-control">
					</td>
					<td>
						<select ng-model="liability.secured_by" class="form-control">
							<option ng-repeat="sec in vm.field.options.securities">{{sec | translate}}</option>
						</select>
					</td>
				</tr>
				</tbody>
			</table>

			<button ng-click="vm.formController.addLiability()" class="btn btn-primary">{{'ADD_LIABILITY' | translate}}</button>
		</div>
	</div>

</div>