<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content wizard">

					<div class="steps clearfix">
						<ul>

							<li ng-class="{'current' : vm.formCriteria.data.stepNumber == 0}">
								<a class="btn-default"><span>1</span> Application</a>
							</li>
							<li ng-class="{'current' : vm.formCriteria.data.stepNumber == 1}">
								<a class="btn-default"><span>2</span> Get offer</a>
							</li>
							<li ng-class="{'current' : vm.formCriteria.data.stepNumber == 2}">
								<a class="btn-default"><span>3</span> Documents</a>
							</li>
							<li ng-class="{'current' : vm.formCriteria.data.stepNumber == 3}">
								<a class="btn-default"><span>4</span> Accept offer</a>
							</li>
						</ul>
					</div>

					<h2>
						{{vm.formCriteria.data.formTitle | translate}}
					</h2>
					<p>
						{{vm.formCriteria.data.formDescription | translate}}
					</p>

					<div class="wizard">
						<div class="content">

							<form name="signupForm" class="p-lg">

								<!-- our nested state views will be injected here -->
								<div id="form-views" ui-view></div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
