<fieldset>

	<div ng-repeat="field in vm.formCriteria.data.fields" ng-if="$index % 2 == 0" class="row">
		<div ng-class="{'col-md-6' : vm.formCriteria.data.fields.length > 1, 'col-md-12' : vm.formCriteria.data.fields.length < 2}">
			<dynamic-field field="field" data="vm.data" form="signupForm" form-controller="vm"></dynamic-field>
		</div>
		<div class="col-md-6" ng-if="vm.formCriteria.data.fields.length > ($index + 1)">
			<dynamic-field field="vm.formCriteria.data.fields[$index + 1]" data="vm.data" form="signupForm" form-controller="vm"></dynamic-field>
		</div>
	</div>

	<button type="submit" ng-click="vm.continue()" ng-disabled="signupForm.$invalid" class="btn btn-primary">{{'NEXT' | translate}}</button>
</fieldset>