<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content wizard">
					<h2>
						ID documents
					</h2>

					<div class="row">
						<div class="col-md-7">

							<div class="wizard">
								<div class="content">


									<form action="#" class="dropzone" dropzone="" id="dropzone">
										<div class="dz-message m-t-lg m-b-lg">
											<h1>Drop files here.</h1>
											<span>(Drop all document here needed for the verification. Or you can click to select the files.)</span>
										</div>
									</form>

								</div>
								<a ng-click="vm.continue()" class="btn btn-primary">Continue</a>
							</div>

						</div>
						<div class="col-md-5">

							<h3>We accept the following documents:</h3>
							<p>
								Please upload a picture or scan of the Details Page of your Passport, both side of your ID card or copy of your driving license. The uploaded document must meet the following criteria:
							</p>

							<p>
								- the National ID Number on the document matches the National ID Number indicated in your Personal Details;
							</p>

							<p>
								- the document includes your photograph and is in color;
							</p>

							<p>
								- the document is readable and no information on it is covered with either dirt or other objects;
							</p>

							<p>
								- in case you applied for a loan, the issuing Country of the document matches the Country you indicated during application process;
							</p>

							<p>
								- the document is in PDF, GIF, JPG, JPEG, TIFF or PNG format.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
