<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content wizard">
					<h2>
						Income documents
					</h2>

					<div class="row">
						<div class="col-md-7">

							<div class="wizard">
								<div class="content">


									<form action="#" class="dropzone" dropzone="" id="dropzone">
										<div class="dz-message m-t-lg m-b-lg">
											<h1>Drop files here.</h1>
											<span>(Drop all document here needed for the verification. Or you can click to select the files.)</span>
										</div>
									</form>

								</div>
								<a ng-click="vm.continue()" class="btn btn-primary">Continue</a>
							</div>

						</div>
						<div class="col-md-5">

							<h3>We accept the following documents:</h3>
							<p>
								- Your bank account statements for the latest 3 months or payslips verifying your income for the latest 2 months
							</p>
							<p>
								- acceptable formats are PDF, JPEG, JPG, PNG, ODT, DOC, DOCX
							</p>

							<h3>Why to provide data verification documents?</h3>
							<p>
								Otherwise your monthly loan payment will be higher or the amount you receive will be smaller. Also you may not be able to receive loan at all.
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
