<fieldset>
	<h2>What are your current liabilities?</h2>

	<div class="row">
		<div class="col-lg-12 m-b-lg">

			<table class="table">
				<thead>
				<tr>
					<th>Type of liability</th>
					<th>Creditor</th>
					<th>Mo. payment</th>
					<th>Outstanding</th>
					<th>Secured by</th>
				</tr>
				</thead>
				<tbody>
					<tr ng-repeat="liability in vm.data">
						<td>
							<select ng-model="liability.type" class="form-control">
								<option ng-repeat="type in vm.formCriteria.fields.types">{{type | translate}}</option>
							</select>
						</td>
						<td>
							<input ng-model="liability.creditor" type="text" class="form-control">
						</td>
						<td>
							<input ng-model="liability.mo_payment" type="number" class="form-control">
						</td>
						<td>
							<input ng-model="liability.outstanding" type="number" class="form-control">
						</td>
						<td>
							<select ng-model="liability.secured_by" class="form-control">
								<option ng-repeat="sec in vm.formCriteria.fields.securities">{{sec | translate}}</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>

			<button ng-click="vm.addLiability()" class="btn btn-primary">{{'ADD_LIABILITY' | translate}}</button>
		</div>
	</div>
	<div class="row">
		<p>
			<input ng-model="vm.termsOfServiceAgreed" type="checkbox" />
			By marking this check box I give my consent to CrediFair Ltd to collect and process my personal data in extent, manner and for purpose as stipulated in the CrediFair's Terms of Use. By marking the check box I confirm, that I have read CrediFair's Terms of Use and I understand the rights and obligations stipulated in CrediFair's Terms of Use in regard to processing personal data and I agree with these conditions.
		</p>
		<button ng-disabled="!vm.termsOfServiceAgreed" type="submit" ng-click="vm.continue()" ng-disabled="signupForm.$invalid" class="btn btn-primary">{{'GET_CARD_OFFER' | translate}}</button>
	</div>
</fieldset>
