<fieldset>
	<div class="row">
		<div class="col-lg-12 m-b-lg">
			<p>You like this offer?</p>
			<p>APR: {{vm.formCriteria.data.apr * 100}}%</p>
			<p>Credit limit: {{vm.formCriteria.data.creditLimit}} {{vm.formCriteria.data.currency}}</p>
			<p>Grace period: {{vm.formCriteria.data.gracePeriod}} days</p>
		</div>
	</div>
	<button type="submit" ng-click="vm.continue()" ng-disabled="signupForm.$invalid" class="btn btn-primary">{{'ACCEPT' | translate}}</button>
</fieldset>