<fieldset>
	<div class="row">
		<div class="col-lg-12 m-b-lg">
			<h3>
				Please wait while we assess your documents and look investors for you, we'll let you know as soon as possible!
			</h3>
		</div>
	</div>
</fieldset>