<fieldset>
	<div class="row">
		<div class="col-lg-12 m-b-lg">
			<h3>EVERYTHING IS ALMOST DONE, JUST AGREE TO THE TERMS AND YOU'RE ALL SET!</h3>
			<p>Just have a look at these terms of use documents and agree to all of them to get things moving :)</p>
			<p>
				<a href="#">Terms of use</a>
			</p>
		</div>
	</div>

	<button type="submit" ng-click="vm.continue()" ng-disabled="signupForm.$invalid" class="btn btn-primary">{{'AGREE_TO_TERMS_OF_USE' | translate}}</button>
</fieldset>