<div xmlns:th="http://www.thymeleaf.org">

	<script th:inline="javascript">
		/*<![CDATA[*/

		var _config = [[${config}]];

		/*]]>*/
	</script>

	<!-- jQuery and Bootstrap -->
	<script src="/js/vendor/jquery/jquery-2.1.1.min.js"></script>
	<script src="/js/vendor/plugins/jquery-ui/jquery-ui.js"></script>
	<script src="/js/vendor/bootstrap/bootstrap.min.js"></script>
	<script src="/js/vendor/angular/angular.min.js"></script>

	<!-- App -->
	<script src="/js/admin/app.js"></script>

	<!-- Modules -->
	<script src="/js/admin/adminRestClient.js"></script>

</div>