<ul class="nav nav-sidebar">
	<li><a href="/admin/">Users <span class="sr-only">(current)</span></a></li>
	<li><a href="/admin/banktransaction/list">Bank transaction list</a></li>
	<li><a href="/admin/banktransaction/create">Create transaction</a></li>
	<li><a href="/admin/payout/list">Payout instructions</a></li>
	<!--<li><a href="/admin/linking">Linking</a></li>-->
</ul>
