<div class="modal-header">
    <button type="button" class="close" ng-click="vm.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Register</h4>
</div>
<div class="modal-body">
    <form method="post" action="/register">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Email" type="email" name="username" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password" name="password" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary btn-block" type="submit">Signup</button>
            </div>
        </div>
    </form>
</div>